.container{
    margin: 0 auto;
    background-color: #8c8c8c;
    color: black;
    width: 30%;
    height: fit-content;
    padding: 20px;
    font-size: large;
    border-radius: 20px;
    margin-top: 100px;
}
input{
    margin: 10px;
}